@{
	ViewData["Title"] = " My Repositor ";
}
<br />
<h2 class="text-primary">  <i class="fa fa-mail-reply"></i>  Shared With Me Files   </h2>
<hr />
 

<div class="row">

	<div class="col-2 text-center">
		<a class="btn" href="#">
			<img src="~/img/ico/personalfolder.png" alt="Alternate Text" />
			<br />
			<p>Folder 1</p>
		</a>
	</div>
	<div class="col-2 text-center">
		<a class="btn" href="#">
			<img src="~/img/ico/personalfolder.png" alt="Alternate Text" />
			<br />
			<p>Folder 1</p>
		</a>
	</div>
	<div class="col-2 text-center">
		<a class="btn" href="#">
			<img src="~/img/ico/personalfolder.png" alt="Alternate Text" />
			<br />
			<p>Folder 1</p>
		</a>
	</div>
</div>