@model StreamLinerEntitiesLayer.HREntities.HRAttendances

@{
    ViewData["Title"] = "CheckIn";
    
}

<p>
    @ViewData["INLatitude"]
    <br>
    @ViewData["INLongitude"]
</p>
@{
    string INLatitude = ViewData["INLatitude"].ToString();
    string INLongitude = ViewData["INLongitude"].ToString();
    string url = "https://maps.google.com/maps?q=" + INLatitude + "," + INLongitude + "&hl=es&z=14&amp";
}
<iframe width="500"
        height="500"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        src="'https://maps.google.com/maps?q=' + @INLatitude + ',' + @INLongitude + '&hl=es&z=14&amp'">
</iframe>

<br />
<small>
    <a href="@ViewData["href"]"
       style="color:#0000FF;text-align:left"
       target="_blank">
        See map bigger
    </a>
</small>