@{
    ViewData["Title"] = "Privacy Policy";
}
<br />
<h3>My Folders </h3>
<br />
<p>
    <a href="#" class="btn btn-primary"> <i class="fa fa-plus"></i> Add User</a>
</p>
<div class="row ">

    <div class="col-12 p-4">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><input type="checkbox" name="" id=""></th>
                    <th>Name</th>
                    <th>Last modified</th>
                    <th>Creation date</th>
                    <th>Pages</th>
                    <th style="width:150px;"> Action </th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td>Document</td>
                    <td>2025-04-22</td>
                    <td>2025-04-22</td>
                    <td>1</td>
                    <td>
						<a href="#" class="btn btn-primary"><i class="fa fa-edit"></i></a>
						<a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td>Document</td>
                    <td>2025-04-22</td>
                    <td>2025-04-22</td>
                    <td>1</td>
                    <td>
                        <a href="#" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                        <a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td>Document</td>
                    <td>2025-04-22</td>
                    <td>2025-04-22</td>
                    <td>1</td>
                    <td>
                        <a href="#" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                        <a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>