@{
    ViewData["Title"] = "Home Page";
}
<div class="row ">
    <div class="col-3" style="border-right:1px solid lightgray; height: 100vh;">
        <br />
        <h4>Users</h4>
        <hr />

        <div class="row p-2">
            <div class="col-3 text-center">
                <img src="~/img/contact/contact1.png" style="width:70%" alt="Alternate Text" class="rounded-circle" />
            </div>
            <div class="col-9">
                <p><b>  amgad aziz</b></p>

            </div>
        </div>
        <div class="row p-2">
            <div class="col-3 text-center">
                <img src="~/img/contact/contact2.png" style="width:70%" alt="Alternate Text" class="rounded-circle" />
            </div>
            <div class="col-9">
                <p><b>Joseph Bishara</b></p>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-3 text-center">
                <img src="~/img/contact/contact2.jpg" style="width:70%" alt="Alternate Text" class="rounded-circle" />
            </div>
            <div class="col-9">
                <p><b> Hellana Adel</b></p>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-3 text-center">
                <img src="~/img/contact/contact3.jpg" style="width:70%" alt="Alternate Text" class="rounded-circle" />
            </div>
            <div class="col-9">
                <p><b> Christina Ayad</b></p>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-3 text-center">
                <img src="~/img/contact/contact4.jpg" style="width:70%" alt="Alternate Text" class="rounded-circle" />
            </div>
            <div class="col-9">
                <p><b> Hala Salah</b></p>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-3 text-center">
                <img src="~/img/contact/contact5.jpg" style="width:70%" alt="Alternate Text" class="rounded-circle" />
            </div>
            <div class="col-9">
                <p><b> Samira Said</b></p>
            </div>
        </div>

    </div>
    <div class="col-7 p-4">
        <div class="row">
            <div class="card p-3" style=" height: 70vh;">
                <div class="row p-2">
                    <div class="col-2 text-center">
                        <img src="~/img/contact/contact3.jpg" style="width:50%" alt="Alternate Text" class="rounded-circle" />
                        <p><b>Christina</b></p>
                    </div>
                    <div class="col-5 text-left chatleft">
                        Business Development Consultant at Streams for Technology Services
                    </div>
                </div>
              
                <div class="row p-2" style="direction:rtl">
                    <div class="col-2 text-center">
                        <img src="~/img/contact/contact2.png" style="width:50%" alt="Alternate Text" class="rounded-circle" />
                        <p><b>Joseph</b></p>
                    </div>
                    
                    <div class="col-5 text-left chatright">
                        Business Development Consultant at Streams for Technology Services

                    </div>
                   
                </div>
                <div class="row p-2">
                    <div class="col-2 text-center">
                        <img src="~/img/contact/contact3.jpg" style="width:50%" alt="Alternate Text" class="rounded-circle" />
                        <p><b>Christina</b></p>
                    </div>
                    
                    <div class="col-5 text-left chatleft">
                        Business Development Consultant 
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom:0px">
            <div class="col-10 p-4">
                <input class="form-control" style="width:100%" type="text">
            </div>
            <div class="col-2 p-4">
                <button type="button" class="btn btn-primary"> <i class="fa fa-paper-plane-o"></i> </button>
            </div>
        </div>
    </div>


</div>