@model IEnumerable<StreamLinerEntitiesLayer.HREntities.HRAllowanceType>

@{
    ViewData["Title"] = "Index";
    
}
<partial name="_ConfigurationMenu" />
<br />
<p>
    <a class="btn btn-primary" asp-action="CreateAllowanceType"><i class="fa fa-plus"></i> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HRAllowanceTypeName)
            </th>

            <th style="width:200px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HRAllowanceTypeName)
                </td>

                <td>
                    <a asp-action="EditAllowanceType" class="btn btn-info" asp-route-id="@item.HRAllowanceTypeId"><i class="fa fa-eye"></i></a> |
                    <a asp-action="DeleteAllowanceType" class="btn btn-danger" asp-route-id="@item.HRAllowanceTypeId"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
