@model StreamLinerEntitiesLayer.HREntities.HRVacationType

@{
    ViewData["Title"] = "Create";
    
}
<partial name="_ConfigurationMenu" />
<br />

<form asp-action="CreateVacationType">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VacationTypeName" class="control-label"></label>
                <input asp-for="VacationTypeName" class="form-control" />
                <span asp-validation-for="VacationTypeName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" /> |
                <a asp-action="VacationTypes" class="btn btn-dark">Back</a>
            </div>
        </div>
    </div>
</form>


