@model StreamLinerEntitiesLayer.HREntities.HRVacationRule

@{
    ViewData["Title"] = "Delete";
    
}

<partial name="_ConfigurationMenu" />
<br />

 
<div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VacationRuleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VacationRuleName)
        </dd>

    </dl>
    <br />
    <form asp-action="DeleteVacationRule">
        <input type="hidden" asp-for="VacationRuleId" />
        <input type="submit" value="Delete" class="btn btn-danger" />  |
        <a asp-action="VacationRules" class="btn btn-dark">Back</a>
    </form>
</div>

