@model StreamLinerEntitiesLayer.HREntities.HRAllowanceType

@{
    ViewData["Title"] = "Edit";
    
}
<partial name="_ConfigurationMenu" />
<br />

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAllowanceType">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HRAllowanceTypeId" />
            <div class="form-group">
                <label asp-for="HRAllowanceTypeName" class="control-label"></label>
                <input asp-for="HRAllowanceTypeName" class="form-control" />
                <span asp-validation-for="HRAllowanceTypeName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</div>
