@model StreamLinerEntitiesLayer.HREntities.HRMission

@{
    ViewData["Title"] = "Details";
    
}



<div class="row">
    <div class="col-md-4">


        <div class="form-group">
            <label asp-for="MissionName" class="control-label"></label>
            <input asp-for="MissionName" class="form-control" disabled="disabled"/>
        </div>
        <div class="form-group">
            <label asp-for="PartnerId" class="control-label"></label>
            <input asp-for="Partner.FullName" class="form-control" disabled="disabled" />
        </div>
        <div class="form-group">
            <label asp-for="MissionDescription" class="control-label"></label>
            <input asp-for="MissionDescription" class="form-control" disabled="disabled" />
        </div>
        <div class="form-group">
            <label asp-for="HRMissionTypeId" class="control-label"></label>
            <input asp-for="HRMissionType.HRMissionTypeName" class="form-control" disabled="disabled" />
        </div>
        <div class="form-group">
            <label asp-for="StartTime" class="control-label"></label>
            <input asp-for="StartTime" class="form-control" disabled="disabled" />
        </div>
        <div class="form-group">
            <label asp-for="EndTime" class="control-label"></label>
            <input asp-for="EndTime" class="form-control" disabled="disabled" />
        </div>
       
        <div class="form-group">
            <a asp-action="Index" class="btn btn-secondary">Back</a>
        </div>

    </div>
</div>
