<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 p-1">

            <a style="width:120px" asp-action="Create" class="btn btn-primary"> <i class="fa fa-plus"></i>  New File</a>
            <a style="width:120px" asp-action="Upload" class="btn btn-outline-primary"><i class="fa fa-upload"></i> Upload </a>
            <a style="width:120px" asp-action="Scan" class="btn btn-outline-primary"><i class="fa fa-print"></i> Scan</a>
            <a style="width:120px" asp-action="record" class="btn btn-outline-primary"><i class="fa fa-microphone text-danger"></i> Record </a>
            <a style="width:120px" asp-action="Capturing" class="btn btn-outline-primary"><i class="fa fa-camera text-danger"></i> Capturing </a>
        </div>
    </div>
</div>
