 
<div class="card">
    <div class="card-header">
        @ViewData["Title"] - @ViewData["Action"]
    </div>
    <div class="card-body">
        <a asp-action="Departments" class="btn btn-app">
            <i class="fa fa-sitemap"></i> Departments
        </a>
  
        <a asp-action="JobPositions" class="btn btn-app">
            <i class="fa fa-suitcase"></i> Job Positions
        </a>
        <a asp-action="ContractTypes" class="btn btn-app">
            <i class="fa fa-folder"></i> Contract Types
        </a>
      
        <a asp-action="VacationRules" class="btn btn-app">
            <i class="fa fa-calendar"></i> Leaves  Rules
        </a>
        <a asp-action="VacationTypes" class="btn btn-app">
            <i class="fa fa-bed"></i> Leaves Type
        </a>
       
        <a asp-action="MissionTypes" class="btn btn-app">
            <i class="fa fa-car"></i> Missions
        </a>
        <a asp-action="ShiftAttends" class="btn btn-app">
            <i class="fa fa-clock-o"></i> Shift
        </a>
        <a asp-action="AttendRules" class="btn btn-app">
            <i class="fa fa-hand-o-up"></i> Attend Rules
        </a>
        <a asp-action="BenefitsTypes" class="btn btn-app">
            <i class="fa fa-trophy"></i> Benefits
        </a>
        <a asp-action="AllowanceType" class="btn btn-app">
            <i class="fa fa-gift"></i>  Allowance 
        </a>
        <a asp-action="PenaltyTypes" class="btn btn-app">
            <i class="fa fa-gavel"></i> Penalties
        </a>
        <a asp-action="Degrees" class="btn btn-app">
            <i class="fa fa-graduation-cap "></i> Degrees
        </a>
    </div>
  
</div>