
<div class="card">
    <div class="card-header">
        @ViewData["Title"] - @ViewData["Action"]
    </div>
    <div class="card-body">
        <a asp-action="DocTemp" class="btn btn-app">
            <i class="fa fa-clipboard"></i> Templates
        </a>
    
        <a asp-action="MetaData" class="btn btn-app">
            <i class="fa fa-list-alt"></i> MetaData
        </a>
        <a asp-action="Field" class="btn btn-app">
            <i class="fa fa-navicon"></i> Field
        </a>
      
        <a asp-action="MeetingRoom" class="btn btn-app">
            <i class="fa fa-building"></i>   Meeting Room
        </a>
        
    </div>
  
</div>