<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stream Liner - DMS</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/Style.css" />
    <link href="~/img/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <style>
     
        .bglf {
            padding-top: 0.5rem !important;
            padding-bottom: 0 !important;
            border-bottom-width: 5px;
            border-bottom-color: #103145;
            border-bottom-style: solid;
            background-color: #002135;
        }
    </style>
    <link rel="stylesheet" href="~/css/sidebars.css">
</head>
<body>
    <partial name="_HeaderApp" />
   
    <main>
        <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
            <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                @* 	<svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap" /></svg> *@
                <span class="fs-5 fw-semibold text-primary">	<i class="fa fa-folder-open-o"></i> Document </span>
            </a>

            <ul class="list-unstyled ps-0">
                <li class="mb-1"><a asp-action="Index" asp-controller="MyRepository" asp-area="DMS" class="btn  align-items-center"> <i class="fa fa-hdd-o" style="font-size:18px"></i> My Repository  </a></li>
                <li class="mb-1"><a asp-action="Index" asp-controller="Home" asp-area="DMS" class="btn   align-items-center"> <i class="fa fa-clock-o" style="font-size:18px"></i> Recent Files</a></li>
                <li class="mb-1"><a asp-action="Favorites" asp-controller="Home" asp-area="DMS" class="btn   align-items-center"> <i class="fa fa-star" style="font-size:18px"></i> Favorites  </a></li>
                <li class="mb-1"><a asp-action="Index" asp-controller="sharedwithme" asp-area="DMS" class="btn  align-items-center"> <i class="fa fa-mail-reply" style="font-size:18px"></i> Shared with Me  </a></li>
                <li class="mb-1"><a asp-action="Index" asp-controller="Recycle" asp-area="DMS" class="btn   align-items-center"> <i class="fa fa-trash" style="font-size:18px"></i>  Recycle Bin</a></li>

            </ul>
        </div>

        <div class="b-example-divider"></div>

        <div class="container">

            @RenderBody()


        </div>
    </main>

    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/sidebars.js"></script>
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2({
                theme: 'bootstrap4'
            })
            //Add text editor
            $('#compose-textarea').summernote()

        })
    </script>
</body>
</html>
