@model List<StreamLinerViewModelLayer.ModelDTO.FolderUserPermissionViewModel>



<table class="table table-light table-sm table-hover">
    <thead>
        <tr>
            <th>User/Group</th>
            <th>Permission</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Username</td>
                    <td>@item.Permission</td>
                    <td>
                    <td>
                        <button class="btn btn-danger btn-sm delete-button" data-id="@item.Id"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>