 
<div class="card">

    <div class="card-body">
        <a  asp-action="index" class="btn btn-app">
            <i class="fa fa-calendar"></i> Pending
        </a>
        <a asp-action="Rejected" class="btn btn-app">
            <i class="fa fa-times"></i> Rejected
        </a>
        <a asp-action="Approved" class="btn btn-app">
            <i class="fa fa-check"></i>  Approved  
        </a>

        
    </div>

</div>

<br />