@model StreamLinerViewModelLayer.HRViewModel.AllowanceViewModel

@{
    ViewData["Title"] = "Edit";
    
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HRAllowanceId" />
            <div class="form-group">
                <label asp-for="PartnerId" class="control-label"></label>
                <select asp-for="PartnerId" class="form-control select2" asp-items="ViewBag.PartnerId">
                    <option value="0" data=""></option>
                </select>
                <span asp-validation-for="PartnerId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label id="ValueLabel" asp-for="ViewValue" class="control-label"></label>
                <input asp-for="ViewValue" class="form-control text-center" type="number" />
                <span asp-validation-for="ViewValue" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="AllowanceDate" class="control-label"></label>
                <input asp-for="AllowanceDate" class="form-control" type="date" />
                <span asp-validation-for="AllowanceDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="HRAllowanceTypeId" class="control-label"></label>
                <select asp-for="HRAllowanceTypeId" class="form-control select2" asp-items="ViewBag.HRAllowanceTypeId">
                    <option value="0" data=""></option>
                </select>
                <span asp-validation-for="HRAllowanceTypeId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />|
                <a asp-action="Index" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</div>
