@{
    ViewData["Title"] = "Compose ";
}



<partial name="_CMSComposeNav" />

<hr />
<div class="container mt-5">
	<div class="row">
		<div class="col-2 text-center">
			<a class="btn" href="#">
				<img src="~/img/ico/docx.png" alt="Alternate Text" />
				<br /><br />
				<p>Word File</p>
			</a>
		</div>
		<div class="col-2 text-center">
			<a class="btn" href="#">
				<img src="~/img/ico/xlsx.png" alt="Alternate Text" />
				<br /><br />
				<p>excel File</p>
			</a>
		</div>

		<div class="col-2 text-center">
			<a class="btn" href="#">
				<img src="~/img/ico/pptx.png" alt="Alternate Text" />
				<br /><br />
				<p>powerpoint File</p>
			</a>
		</div>
		<div class="col-2 text-center">
			<a class="btn" href="#">
				<img src="~/img/ico/pdf.png" alt="Alternate Text" />
				<br /><br />
				<p>PDF File</p>
			</a>
		</div>

		<div class="col-2 text-center">
			<a class="btn" href="#">
				<img src="~/img/ico/txt.png" alt="Alternate Text" />
				<br /><br />
				<p>Text File</p>
			</a>
		</div>
		<div class="col-2 text-center">
			<a class="btn" href="#">
				<img src="~/img/ico/Generic.png" alt="Alternate Text" />
				<br /><br />
				<p>Generic File</p>
			</a>
		</div>
		<div class="col-2 text-center">
			<a class="btn" href="#">
				@* <i class="fa fa-file-word-o text-primary" style="font-size:48px;"></i> *@
				<img src="~/img/ico/Photo.png" alt="Alternate Text" />
				<br /><br />
				<p>image File</p>
			</a>
		</div>
		<div class="col-2 text-center">
			<a class="btn" href="#">
				<img src="~/img/ico/Code.png" alt="Alternate Text" />
				<br /><br />
				<p>Code File</p>
			</a>
		</div>
		<div class="col-2 text-center">
			<a class="btn" href="#">
				<img src="~/img/ico/Video.png" alt="Alternate Text" />
				<br /><br />
				<p>Video File</p>
			</a>
		</div>
		<div class="col-2 text-center">
			<a class="btn" href="#">
				<img src="~/img/ico/Audio.png" alt="Alternate Text" />
				<br /><br />
				<p>Audio File</p>
			</a>
		</div>
		<div class="col-2 text-center">
			<a class="btn" href="#">
				<img src="~/img/ico/xml.png" alt="Alternate Text" />
				<br /><br />
				<p>xml File</p>
			</a>
		</div>


	</div>
</div>


<br />
<br />

