@{
    ViewData["Title"] = "Home Page";
}
<div class="row ">
    <div class="col-4">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px;">
            <div class="border-right p-2">
                <a href="#" class="btn btn-primary btn-lg"> <i class="fa fa-plus"></i> New Note</a>
            </div>
            <div class="p-2 ">

                <div class="notecard">
                    <p>Note 1</p>
                </div>
                <div class=" notecard">
                    <p>Note 2</p>
                </div>
                <div class="  notecard">
                    <p>Note 3</p>
                </div>
                <div class=" notecard">
                    <p>Note 4</p>
                </div>
                <div class=" notecard">
                    <p>Note 5</p>
                </div>
                <div class=" notecard">
                    <p>Note 6</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8 p-4">
        <div class="p-4">
            <h3>Note 1</h3>
            <hr />
            <textarea style="height:350px;width:100%" class="notecard">
A growing collection of free and premium Bootstrap themes, ready to jump start your next project.
            </textarea>
        </div>
        <br />
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Save</button>
        </div>
    </div>

</div>