@{
	ViewData["Title"] = "Home Page";
}
<div class="row ">
	<div class="col-8 p-4">
		<h1 class="display-5 fw-bold lh-1 mb-3">Bootstrap Themes</h1>
		<p class="lead">A growing collection of free and premium Bootstrap themes, ready to jump start your next project.</p>
		<div class="d-grid gap-2 d-md-flex justify-content-md-start">
			<button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
			<button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
		</div>
	</div>
	<div class="col-4">
		<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px;">
			<div class="bg-light border-right p-2">
				<button type="button" class="btn btn-light text-dark"><i class="material-icons">replay</i></button>
				<button type="button" class="btn btn-light text-dark"><i class="material-icons">create_new_folder</i></button>
				<button type="button" class="btn btn-light text-dark"><i class="material-icons">archive</i></button>
				<button type="button" class="btn btn-light text-dark"><i class="material-icons">unarchive</i></button>
				<button type="button" class="btn btn-light text-dark"><i class="material-icons">scanner</i></button>
				<button type="button" class="btn btn-light text-dark"><i class="material-icons">share</i></button>
			</div>
			<div class="list-group list-group-flush border-bottom scrollarea">

				<a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
					<div class="d-flex w-100 align-items-center justify-content-between">
						<strong class="mb-1">List group item heading</strong>
						<small class="text-muted">Mon</small>
					</div>
					<div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
				</a>

				<a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
					<div class="d-flex w-100 align-items-center justify-content-between">
						<strong class="mb-1">List group item heading</strong>
						<small class="text-muted">Wed</small>
					</div>
					<div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
				</a>
				<a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
					<div class="d-flex w-100 align-items-center justify-content-between">
						<strong class="mb-1">List group item heading</strong>
						<small class="text-muted">Tues</small>
					</div>
					<div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
				</a>
				<a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
					<div class="d-flex w-100 align-items-center justify-content-between">
						<strong class="mb-1">List group item heading</strong>
						<small class="text-muted">Mon</small>
					</div>
					<div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
				</a>
				<a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
					<div class="d-flex w-100 align-items-center justify-content-between">
						<strong class="mb-1">List group item heading</strong>
						<small class="text-muted">Wed</small>
					</div>
					<div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
				</a>
				<a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
					<div class="d-flex w-100 align-items-center justify-content-between">
						<strong class="mb-1">List group item heading</strong>
						<small class="text-muted">Tues</small>
					</div>
					<div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
				</a>
				<a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
					<div class="d-flex w-100 align-items-center justify-content-between">
						<strong class="mb-1">List group item heading</strong>
						<small class="text-muted">Mon</small>
					</div>
					<div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
				</a>
				<a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
					<div class="d-flex w-100 align-items-center justify-content-between">
						<strong class="mb-1">List group item heading</strong>
						<small class="text-muted">Wed</small>
					</div>
					<div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
				</a>

			</div>
		</div>
	</div>
</div>