<br />
<div class="row">
    <div class="col-md-1 text-center">
        <img src="~/img/ico/docx.png" alt="Alternate Text" />
        <p>Vesion 6</p>
    </div>
    <div class="col-md-3">
        <h3>Document Name</h3>
        <p> <b>Date : </b>2025-02-07</p>
        <p> <b>Owner :</b>Joseph Bishara</p>
    </div>
    <div class="col-md-8">
        <style>
            
        
        </style>
        <div class="card">

            <div class="card-body text-center">
             
                <a asp-action="Rejected" class="btn btn-app">
                    <i class="fa fa-download text-primary"></i> Download
                </a>
                <a asp-action="Approved" class="btn btn-app">
                    <i class="fa fa-upload text-primary"></i> New Vesion
                </a>
                <a asp-action="Approved" class="btn btn-app">
                    <i class="fa fa-print text-primary"></i> Print
                </a>
                <a asp-action="Approved" class="btn btn-app">
                    <i class="fa fa-search-plus text-primary"></i> OCR
                </a>

                <a asp-action="Approved" class="btn btn-app">
                    <i class="fa fa-key text-primary"></i> Security
                </a>

                <a asp-action="Approved" class="btn btn-app">
                    <i class="fa fa-share-alt text-primary"></i> Share
                </a>
              
                <a asp-action="Approved" class="btn btn-app">
                    <i class="fa fa-trash text-primary"></i> Delete
                </a>


            </div>

        </div>

        <br />
    </div>

</div>
<hr />
<div class="row">
    <div class="col-md-8">
        <h3 class="text-primary">Document History</h3>
        <hr />
        <table class="table table-light table-bordered">
            <thead>
                <tr>
                    <th style="text-align:center;"><i class="fa fa-file-text-o text-primary" style="font-size:20px"></i></th>
                    <th class="text-primary">Date</th>
                    <th class="text-primary">Versions</th>
                    <th class="text-primary">Editor</th>
                    <th style="width:120px" class="text-primary text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align:center;"><img src="~/img/ico/docx.png" width="30" alt="Alternate Text" /></td>
                    <td>
                        2025-02-05
                    </td>
                    <td>
                        Version 5
                    </td>
                    <td>
                        Christina Ayad
                    </td>
                    <td>
                        <a href="#" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>
                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-download"></i></a>
                        <a href="#" class="btn btn-warning btn-sm"><i class="fa fa-print"></i></a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;"><img src="~/img/ico/pdf.png" width="30" alt="Alternate Text" /></td>
                    <td>
                        2025-02-03
                    </td>
                    <td>
                        Version 4
                    </td>
                    <td>
                        Joseph Bishara  
                    </td>
                    <td>
                        <a href="#" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>
                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-download"></i></a>
                        <a href="#" class="btn btn-warning btn-sm"><i class="fa fa-print"></i></a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;"><img src="~/img/ico/docx.png" width="30" alt="Alternate Text" /></td>
                    <td>
                        2025-02-02
                    </td>
                    <td>
                        Version 3
                    </td>
                    <td>
                        Yasser Abadir
                    </td>
                    <td>
                        <a href="#" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>
                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-download"></i></a>
                        <a href="#" class="btn btn-warning btn-sm"><i class="fa fa-print"></i></a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;"><img src="~/img/ico/pdf.png" width="30" alt="Alternate Text" /></td>
                    <td>
                        2025-02-01
                    </td>
                    <td>
                        Version 2
                    </td>
                    <td>
                        Joseph Bishara  
                    </td>
                    <td>
                        <a href="#" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>
                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-download"></i></a>
                        <a href="#" class="btn btn-warning btn-sm"><i class="fa fa-print"></i></a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;"><img src="~/img/ico/docx.png" width="30" alt="Alternate Text" /></td>
                    <td>
                        2025-01-30
                    </td>
                    <td>
                        Version 1
                    </td>
                    <td>
                        Mariam Safwat 
                    </td>
                    <td>
                        <a href="#" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>
                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-download"></i></a>
                        <a href="#" class="btn btn-warning btn-sm"><i class="fa fa-print"></i></a>
                    </td>
                </tr>
            </tbody>


        </table>
        <hr />

    </div>
    <div class="col-md-4">
        <h2 class="text-primary">Meta Data</h2>
        <hr />
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Enter title">
                    </div>
                    <div class="mb-3">
                        <label for="author" class="form-label">Author</label>
                        <input type="text" class="form-control" id="author" placeholder="Enter author name">
                    </div>
                    <div class="mb-3">
                        <label for="tags" class="form-label">Tags</label>
                        <input type="text" class="form-control" id="tags" placeholder="Enter tags, separated by commas">
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Category</label>
                        <select class="form-select" id="category">
                            <option selected>Select category</option>
                            <option value="1">Technology</option>
                            <option value="2">Health</option>
                            <option value="3">Lifestyle</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />

