@{
    ViewData["Title"] = "Configuration";

}
<br />

<partial name="_ConfigurationCMS" />
<br />
<div class="row">
    <div class="col-12 text-center">
        <h3> CMS Configuration </h3>
        <br />
        <img src="~/img/ico/System_Preferences_icon.png" alt="No Folders" />
        <br />
    </div>
</div>
<br />