@{
    ViewData["Title"] = "Privacy Policy";
}
<br />
<br />
<p style="text-align:right;">
    <a href="#" class="btn btn-primary">Add User</a>
</p>
<div class="row ">

    <div class="col-12 p-4">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><input type="checkbox" name="" id=""></th>
                    <th>Name</th>
                    <th>Last modified</th>
                    <th>Creation date</th>
                    <th>Pages</th>
                    <th> Template</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td>Document</td>
                    <td>2025-04-22</td>
                    <td>2025-04-22</td>
                    <td>1</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td>Document</td>
                    <td>2025-04-22</td>
                    <td>2025-04-22</td>
                    <td>1</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" id=""></td>
                    <td>Document</td>
                    <td>2025-04-22</td>
                    <td>2025-04-22</td>
                    <td>1</td>
                    <td>july@example.com</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>