@{
    ViewData["Title"] = " DMS Configuration ";
}
<br />
<partial name="_ConfigurationDMS" />
<br />
<div class="row">
    <div class="col-12 text-center">
        <h3> DMS Configuration </h3>
        <br />
        <img src="~/img/ico/System_Preferences_icon.png" alt="No Folders" />
        <br />
    </div>
</div>